@charset 'utf-8';

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(70, 142, 236);
    font: normal 1em Arial;
}

header {
    color: white;
    margin: 10px 0;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
    margin: 0 auto 10px auto;
    padding: 15px;
    width: 500px;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}
